/* Default styles */
.ticket {
    margin: auto;
    position: relative;
    display: flex;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  .ticket > * {
    font-family: "Staatliches", cursive !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Left side styles */
  .left {
    display: flex;
  }
  
  .image {
    width: 250px;
    background-image: url("assets/img/about3.jpeg");
    background-size: contain;
    opacity: 0.85;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
  }
  
  .admitOne {
    position: absolute;
    color: darkgray;
    height: 100%;
    letter-spacing: 0.15em;
    display: flex;
    text-align: center;
    justify-content: space-around;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
  }
  
  .left .admitOne span {
    color: black;
  }
  
  .admitOne span:nth-child(2) {
    color: white;
    font-weight: 700;
  }
  
  .ticketNumber {
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
  }
  
  /* Ticket information styles */
  .ticketInfo {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  
  .date {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 5px 0;
    font-weight: 700;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .date span {
    width: 100%;
  }
  
  .date span:first-child, .date span:nth-child(2) {
    text-align: left;
  }
  
  .date span:last-child {
    text-align: right;
  }
  
  .date .june29 {
    color: #d83565;
    font-size: 20px;
  }
  
  .showName {
    font-size: 32px;
    padding-top: 1em;
    font-family: "Nanum Pen Script", cursive;
    color: #d83565;
  }
  
  .showName h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #4a437e;
  }
  
  .time {
    padding: 10px 0;
    color: #4a437e;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 700;
  }
  
  .time span {
    font-weight: 400;
    color: gray;
  }
  
  .left .time {
    font-size: 16px;
  }
  
  .location {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 8px;
    border-top: 1px solid gray;
  }
  
  .location .separator {
    font-size: 20px;
  }
  
  /* Right side styles */
  .right {
    width: 180px;
    border-left: 1px dashed #404040;
  }
  
  .right .admitOne {
    color: darkgray;
    padding: unset;
  }
  
  .right .admitOne span:nth-child(2) {
    color: gray;
  }
  
  .rightInfoContainer {
    height: 100%;
    padding: 10px 10px 10px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  rightInfoContainer h1 {
    font-size: 18px;
  }
  
  .barcode {
    height: 100px;
  }
  
  .barcode > svg {
    height: 100%;
  }
  
  .right .ticketNumber {
    color: gray;
    width: 100%;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .ticket {
      flex-direction: column; /* Stack elements on smaller screens */
      align-items: center; /* Center elements vertically */
    }
  
    .left, .right {
      width: 100%;
    }
  
    .left {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .right {
      border-left: none;
      border-top: 1px dashed #404040;
    }
  
    .image {
      width: 100%;
      height: auto;
      background: unset;
    }
  
    .admitOne {
      display: none;
    }
  
    .ticketNumber {
      width: 100%;
      justify-content: center;
    }
  
    .ticketInfo {
      padding: 20px 0;
    }

    .ticketInfo .date {
      padding-left: .5rem;
      padding-right: .5rem;
      font-size: 10px;
      letter-spacing: unset;
    }

    .date span:nth-child(3) {
      font-size: 12px;
    }
  
    .showName h1 {
      font-size: 36px;
    }

    .location {
      flex-direction: column;
    }
  }
  